/* ====for mobile============ */
@media (max-width:650px) {
    html {
        font-size: 9px;
    }
    header .container{
        margin-bottom: 0px;
    }
    header .container h3{
        font-size: 2rem;
        position: absolute;
        top: 20px;
        right: 25%;
        
    }
    header .manu {
        display: none;
    }
    .fa-bars {
        display: inline-block;
        font-size: 2rem;
    }

    .banner-section {
        grid-template: 1fr 1fr/1fr;
        margin-top: 0;
        
    }

    .banner-section .banner-left {
        text-align: center;
    }

    .banner-section .banner-right {
        grid-row: 1/2;
        /* background: #000; */
    }

    /* -----brand---- */
    .brand-section .brand {
        grid-template: repeat(3, 1fr)/repeat(4, 1fr);
        /* background: #000; */
    }
    .brand-section img{
        width: 80%;
    }

    /* ------gallery-------------- */
    .gallery-section>.container{
        display: flex;
        flex-direction: column;
        /* background: #000; */
    }

    /* -------featred section------- */
    .featured-section {
        grid-template: 1fr 1fr/1fr;
        justify-content: center;
        justify-self: center;
        text-align: center;
    }

    /* --------reviews ----------- */
    .reviews-section .container{
        grid-template: repeat(3, 1fr)/1fr;
    }
}

/* ===========for tablet================= */
@media (min-width:651px) and (max-width:1000px) {
    .gallery-section>.container{
        grid-template:repeat(4,1fr) /1fr 1fr;
        /* grid-auto-columns: hidden; */
    }
    .gallery-section>.container>p {
        grid-column: 2/-1;
    }
    .card9{
        display: none;
    }

    /* ----------review section-------- */
    .reviews-section .container {
        grid-gap: 10px;
    }
    .reviews-section .container .review-card{
        padding: 20px;
    }
    
}