/* -------common css start--------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {}

section {
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
    display: inline-block;

}

.button {
    background: rgb(0, 118, 173);
    color: blanchedalmond;
    font-size: 20px;
    padding: 15px 20px;
    display: inline-block;
    border-radius: 5px;
}


/* =======common css end======= */


/* --------header section start---------- */
header .container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 70px auto;
}

/* ============header section end ============ */


/* -----banner section start---------------- */
.banner-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    /* margin: 100px 0; */
}

.banner-section .banner-right {
    /* align-self: center; */
}

/* ========banner section end=============== */

/* --------brand section start----------------- */
.brand-section {
    display: grid;
    justify-content: space-evenly;
    border-width: 1px;
    border-style: solid;
    border-image:
        linear-gradient(to right, #ffffff, #c0c0c0, rgb(255, 255, 255)) 30;
    padding: 30px 0;

}

.brand-section img {
    margin-right: 20px;
}

.brand-section img:last-child {
    margin-right: 0;
}

/*=========brand section end=================== */

/* --------gallery section start------------------- */
.gallery-section {
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(3, 1fr);
}

/* ===========gallery section end================== */

/* -------------featured section start-------------- */
.featured-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* ================featured section end=============== */

/* -----------footer section start----------- */
footer {
    text-align: center;
    /* display: flex; */
    /* background: #000; */
    /* color: rgb(255, 255, 255); */
}

/* ============footer section end ================ */